<div class="card">
  <div class="card-body">
    <%= form_with model: [ @article, @article.comments.build ] do |form| %>
      <div class="mb-3">
        <%= form.label :commenter, class: "form-label" %>
        <%= form.text_field :commenter, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :body, class: "form-label" %>
        <%= form.text_area :body, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :status, class: "form-label" %>
        <%= form.select :status, ['public', 'private', 'archived'],
          selected: 'public' %>
      </div>
      <%= form.submit class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
