<%= form_with model: @user do |form| %>
  <div class="mb-3">
    <%= form.label :nickname, class: "form-label" %><br>
    <%= form.text_field :nickname, class: "form-control" %>
    <% @user.errors.full_messages_for(:nickname).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>

  <div class="mb-3">
    <%= form.label :email, class: "form-label" %><br>
    <%= form.text_field :email, class: "form-control" %>
    <% @user.errors.full_messages_for(:email).each do |message| %>
      <div><%= message %></div>
    <% end %>
  </div>
  <div class="mb-3">
    <%= form.submit class: "btn btn-primary" %>
  </div>
<% end %>